<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446210568539-63qrk7arcalervv1r78u884dob8v5ob5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446210568539-63qrk7arcalervv1r78u884dob8v5ob5</string>
	<key>API_KEY</key>
	<string>AIzaSyBlmFMuuRors4HEUAzPHSWPjZChCF0dg7k</string>
	<key>GCM_SENDER_ID</key>
	<string>446210568539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-60b43</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-60b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446210568539:ios:4838f5d64bff13d0cb2a7e</string>
</dict>
</plist>